DJANGO_DEBUG=True
DJANGO_SECRET_KEY="CHANGEME!!!s19yx^4p-k03#$(@%1hgd8a5hymo4p)@vt-z5bz&&1wx9&l6cy"

DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=127.0.0.1,myvirtualmachine16.com
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root

DJANGO_EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
DJANGO_EMAIL_HOST="smtp.gmail.com"
DJANGO_EMAIL_HOST_PASSWORD="111"
DJANGO_EMAIL_HOST_USER="111@gmail.com"
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=True

DJANGO_DEFAULT_FROM_EMAIL=111@gmail.com
DJANGO_SERVER_EMAIL=111@gmail.com

DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_USE_DEBUG_SILK=off
DJANGO_TEST_RUN=off


POSTGRES_PASSWORD=111
