DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!s19yx^4p-k03#$(@%1hgd8a5hymo4p)@vt-z5bz&&1wx9&l6cy"

DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=example.com,example2.com
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
DJANGO_DATABASE_URL=postgres:///qadip
DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="1qaz"
POSTGRES_HOST="192.168.1.10"
POSTGRES_PORT="5432"

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SERVER_EMAIL=root@localhost.com


DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_USE_DEBUG_SILK=off
DJANGO_TEST_RUN=off
