{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
    <div class="container">
        <h2>Profile: {{ request.user.first_name }} {{ request.user.last_name }}</h2>
    </div>

    <form method="post" action="." class="add_email" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" name="action_add" type="submit">{% trans "Save" %}</button>
    </form>
{% endblock content %}
