@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('/static/fonts/pts55f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('/static/fonts/pts75f.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Italic'), local('PTSans-Italic'), url('/static/fonts/pts56f.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('/static/fonts/pts76f.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans Caption';
    src: local('PT Sans Caption'), local('PTSans-Caption'), url('/static/fonts/ptc55f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Caption';
    src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'), url('/static/fonts/ptc75f.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('/static/fonts/ptn57f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('/static/fonts/ptn77f.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
